<template>
  <div id="app2">
    <ul>
      <li v-for="user in users" :key="user.id">
         {{user.name}}
       </li>
    </ul>
  </div>
</template>

<script>
import usersData from '/src/data/users.json'
export default {
  data () {
    return {
      users: usersData
    }
  }
}

</script>