<template>
  <gitogramPages />
</template>

<script>
import { gitogramPages } from './components/gitogramPages'

export default {
  name: 'App',
  components: {
    gitogramPages
  }
}
</script>

<style src="./global.scss" lang="scss"></style>
